

.disney-data-main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   
}
.num{
    color: white;
    cursor: pointer;
    background-color: transparent;
    width: 50px;
    height: 40px;
    border: 2px solid white;
    font-family: 'Oxygen';
    font-size: 1.2rem;
}
.current-page-num{
    color: white;
    cursor: pointer;
    background-color: teal;
    width: 50px;
    height: 40px;
    border: 2px solid white;
    font-family: 'Oxygen';
    font-size: 1.2rem;
}
.num:hover,.current-page-num:hover,.page-range-button:hover{
    background-color: teal;
    color: white;
}
.page-range-container{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap:1.5rem;
    margin-bottom: 1em;
}
.page-range-button{
    font-size: 1.3rem;
    width: 70px;
    height: 50px;
    cursor: pointer;
    background-color: transparent;
    border: 2px solid white;
    color: white;
}
.next-btn,.prev-btn{
    width: 90px;
    line-height: 30px;
    text-align: center;
}
.dots{
    color: white;
    font-size:2rem;
    letter-spacing: 5px;
}