

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: black;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  width: 80px;
  height: 80px;
  font-size: 1.5rem;
  margin-right: 1em;
}
